{{define "nav"}}
<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Portfolio Lab</a>
        <ul class="navbar-nav">
            <li><a href="/portfolios">Portfolios</a></li>
            <li><a href="#" class="disabled">Accounts</a></li>
            <li><a href="#" class="disabled">Transactions</a></li>
            <li><a href="#" class="disabled">Positions</a></li>
            <li><a href="#" class="disabled">Analytics</a></li>
            <li><a href="#" class="disabled">Import</a></li>
        </ul>
    </div>
</nav>
{{end}}
